@font-face {
  font-family: "gilroy";
  src: url(./Gilroy-Regular.otf);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: gilroy;
 }
 html,
 body {
   width: 100%;
   height: 100%;
 }
 #header {
   position: fixed;
   top: 0%;
   z-index: 999;
   width: 100%;
   height: 80px;
   /* background-color: #fff; */
   /* background-color: #0D0D0D; */
   color: #fff;
   display: flex;
   align-self: center;
   justify-content: space-around;
   padding-top: 22px;
 }
 #header h4 {
   color: #b5a798;
   font-weight: 400;
   font-size: 1.5vmax;
 }
 #header h4::after {
   content: "";
   width: 9%;
   height: 1px;
   background-color: #b5a798;
   position: absolute;
   bottom: 35%;
   left: 79.1%;
 }
 #header h5 i {
   font-weight: 10;
   font-size: 1.5vmax;
 }
 #header img {
   height: 30px;
 }
 #loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
 }
 #loader h1{
  color: #fff;

  font-size: 10vmax;

 }
 
 #page1 {
   position: relative;
   /* border-bottom: 1px solid  white; */
   min-height: 100vh;
   width: 100%;
   background-color: #0d0d0d;
   /* background-color: orange; */
 }
 
 #maintext {
   width: 85%;
   height: 100%;
 /* overflow: hidden; */
   font-size: 2vmax;
   font-weight: 700;
   font-family: gilroy;
   /* background-color: red; */
   padding-top: 100px;
 }
 .text{
  overflow: hidden;
 }
 .text h2 {
   color: #fff;
   font-size: 8.2vmax;
   font-weight: 500;
   font-family: gilroy;
 }
 #one {

  /* overflow: hidden; */
   text-align: center;
 }
 #two::after {
   content: "";
   position: absolute;
   top:50%;
   left: 12%;
   width: 20%;
   height: 11px;
   background-color: #fff;
 }
 #two {
  /* overflow: hidden; */
   text-align: right;
 }
 #three {
  /* overflow: hidden; */
   text-align: center;
 }
 #pa {
   margin-left: 350px;
 }
 #page1 p {
   line-height: 30px;
 
   font-size: 1.5vmax;
   font-weight: 400;
   color: #c1b6aa;
   text-align: start;
 }
 
 #page2 {
   height: 100vh;
   width: 100%;
   background-color: #0d0d0d;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 #videobox {
   width: 80%;
   height: 80%;
   overflow: hidden;
border-radius: 50px;
 }
 #videobox video {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor:pointer ;
 }
 
 #page3 {
   position: relative;
   height: 100vh;
   width: 100%;
   overflow: hidden;
 
   background-color: #0d0d0d;
 }
 #maintext2{
  top: 8%;
   left: 8%;
   position: relative;
   z-index: 999;
  overflow: hidden;
 }

 .text2 h2 {
   color: #fff;
   font-family: voyage;
   font-weight: 200;
   font-size: 7.5vmax;
 }
 #page3 img {
   position: absolute;
   top: 10%;
   left: 20%;
 
   width: 400px;
   height: 300px;
 }
 #section {
   width: 50%;
   height: 60%;
 
   display: flex;
 
   flex-direction: column;
   gap: 20px;
   position: absolute;
   left: 42%;
   top: 53.7%;
 }
 .secpart1 {
   margin: 0px 0px;
   text-align: center;
   border-bottom: 1px solid #282727;
   display: flex;
   justify-content: space-between;
 
   padding: 0px 50px;
 }
 .secpart1 h2 {
   padding: 10px 0px;
   color: #fff;
 }
 .secpart1 h2:nth-child(1) {
   word-spacing: 10px;
   font-weight: 300;
   letter-spacing: 0.2vmax;
   transition: all ease 0.25s;
 }
 .secpart1 h2:nth-child(1):hover {
   color: #b5a798;
 }
 .secpart1 h2:hover {
   cursor: pointer;
 }
 #page4 {
   background-color: #0d0d0d;
 
   min-height: 100vh;
   width: 100%;
 }
 #text4 {
   display: flex;
 
   align-items: center;
   justify-content: space-between;
   padding: 0px 90px;
 
   padding-top: 150px;
 
   color: #b5a798;
 }
 #text4 h2 {
   font-size: 1.4vmax;
   font-weight: 500;
   border-radius: 20px;
   padding: 5px 10px;
 
   border: 1px solid #b5a798;
 }
 #text4 h4 {
   font-size: 1.5vmax;
   font-weight: 350;
   margin-bottom: 5px;
 
   border-bottom: 1px solid #b5a798;
 }
 #frames {
   margin-top: 80px;
   width: 100%;
   height: 100vh;
   position: relative;

 }
 .frame {
   width: 70%;
   height: 80vh;
   margin: auto;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
 
   padding-bottom: 80px;
 }
 .frame img {
   width: 88%;
   height: 100vh;
   border-radius: 22px;
   object-position: top;
   object-fit: cover;
 }
 #image1 {
   position: absolute;
   top: 0%;
 }
 #image2 {
   position: absolute;
   top: 5%;
 }
 #image3 {
   position: absolute;
   top: 8%;
 }
 #image4 {
   position: absolute;
   top: 11%;
 }
 
 #image5 {
   position: absolute;
   top: 0%;
   height: 100vh;
 }
 #page5 {
   background-color: #0d0d0d;
   min-height: 100vh;
   width: 100%;
   padding-top: 90px;
   position: relative;
 }
 #image6{
  position: absolute;
  top: 13%;
  left: 32%;
  height: 8%;


  z-index: 99999;
 }
 #container {
   width: 90%;
   min-height: 100vh;
   border-radius: 20px;
   margin: auto;
   background-color: #efe6dd;
   overflow: hidden;
 }
 #box {
  overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 #six{
  overflow: hidden;
 }
 #seven{
  overflow: hidden;
 }
 #boxpart1 {
  overflow: hidden;
   padding-top: 40px;
   display: flex;
   flex-direction: column;
 }
 #boxpart1 h2 {
  overflow: hidden;
   font-size: 6vmax;
   font-weight: 400;
 }
 #boxpart1 p {
   font-size: 20px;
   font-weight: 500;
 }
 #boxpart2 p {
   line-height: 30px;
 
   font-size: 20px;
   font-weight: 500;
 }
 #boxpart2 {
   padding-top: 200px;
 
   display: flex;
   gap: 30px;
 
   flex-direction: column;
 }
 
 #page5text {
  overflow: hidden;
   width: 85%;
   padding-top: 70px;
 }
 #page5text h2 {

   font-size: 50px;
   line-height: 70px;
   font-weight: 500;
 }
 #page5text h2:nth-child(1) {
   padding-left: 50px;
   text-align: start;
 }
 #page5text h2:nth-child(2) {
   text-align: center;
 }
 #page5text h2:nth-child(3) {
   text-align: right;
   padding-left: 20px;
 }
 #boxpart3 {
   width: 100%;
   height: 90vh;
   /* background-color: orange; */
   /* padding-top: 50px; */
   margin-top: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   overflow: hidden;
 }
 #subpart1 {
   width: 100%;
   height: 50vh;
   /* background-color: green; */
   overflow-y: hidden;
   overflow-x: auto;
   display: flex;
   gap: 20px;
 
 }
 .imagepart1 {
   display: flex;
   gap: 2rem;
   animation: ani 20s linear  0.1s infinite;
   /* background-color: red; */
   margin-left: -4px;
 }
 .imagepart2 {
   display: flex;
   gap: 2rem;
   animation: ani 10s linear infinite;
   /* background-color: red; */
   margin-left: -4px;
   animation-direction: reverse;
 }
 @keyframes ani {
   0% {
     transform: translateX(0%);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 #subpart2 {
   width: 100%;
   height: 50vh;
   /* background-color:red; */
   overflow-y: hidden;
   overflow-x: auto;
   display: flex;
   gap: 20px;
 }

 #subpart1::-webkit-scrollbar {
   display: none;
 }
 #subpart2::-webkit-scrollbar {
   display: none;
 }

 
 #page6 {
   background-color: #0D0D0D;
   min-height: 100vh;
   width: 100%;
 }
 #textprt1{
  padding-top: 80px;
  padding-left:90px;
 }
 #textprt1>h3{
  width: fit-content;
  font-size: 1.4vmax;
  font-weight: 500;
  border-radius: 20px;
color: #b5a798;
  border: 1px solid #b5a798;
  padding: 5px 10px;
}
#textprt2{

  margin-top: 90px;
  font-size: 5vmax;
  font-weight: 500;

  align-items: center;

padding-left: 200px;

  color: #616161;
}
#textprt2>h4{
  padding-bottom: 150px;


}
#prt1{
margin-bottom: 80px;
}
#prt2{
  margin-bottom: 80px;
}
#textprt2 h4{
  font-size: 3.1vmax;
  font-weight: 500;
  align-items: center;
}
#textprt2 h4 span{
  color: #616161;
}
 #page7 {

 
   background-color: #EEE9E4;
   min-height: 100vh;
   width: 100%;
 }
 #contain{
  width: 100%;

  position: relative;
  display: flex;
padding: 0px 80px;

  justify-content: space-around;
 }
 #page7part1{ 
  overflow: hidden;
  padding-top: 80px;
  padding-left:80px;
 }
 #page7part1 h1{
  /* overflow: hidden; */
  font-size: 8vmax;
  font-weight:500;
  font-family: "Applegaramond, sans-serif";

 }
 #page7part2{
  padding-top: 150px;
  padding-left:90px;
 display: flex;
 gap: 30px;

 flex-direction: column;

 }
 #page7part2 h2{
  width: fit-content;
  font-size: 1.5vmax;
  font-weight: 500;
  border-radius: 20px;
color: #1f1e1e;
  border: 2px solid #8e8a88;
  padding: 5px 10px;
 }
 #page7part2 h3{
  font-size: 1vmax;
  font-weight: 400;
 }

#contain::after{
  content: "";
  width: 90%;
  position: absolute;
  bottom: -8%;
  left: 5%;
  height: 1px;
  background-color: #E2DDD8;

}

#page7subpart{
  /* background-color: red; */
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
 
margin-top: 45px;

padding-left: 200px;
padding-right: 20px;

  display: flex;
  gap: 20px;
}::-webkit-scrollbar{
  display: none;
}

.parts{
/* background-color: red; */
  text-align: start;
  flex-shrink: 0;
  width: fit-content;
  height: 50vh;
display: flex;
gap: 20px;

align-items: start;
justify-content: start;
flex-direction: column;

gap: 40px;
}
.parts h1{
  font-weight: 600;
  font-size: 1.5vmax;



}
.image{
  height: 10%;

}
.pic{
  height: 10%;

}
#page7subpart3{
  width: 100%;
  padding-top: 50px;
  gap: 20px;

  display: flex;
  overflow-x: auto;
  overflow-y: hidden;

}
.texts{
  margin-left: -2px;
  display: flex;
  gap: 10px;
  color: #000;
  animation: move 15s linear infinite;
}
@keyframes move {
  0%{
transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
  
}
.texts h2{
  font-size: 7vmax;

}
#page7subpart4{
  width: 100%;
  padding-top: 50px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
}
.texts2 h2{
font-size:9vmax;

}
.texts2{
  margin-left: -2px;
  animation: move 15s linear infinite reverse;
  display: flex;
  gap: 10px;
  color: #000;

}

 #page8 {
  color: #fff;
   min-height: 100vh;
   width: 100%;
   background-color: #EEE9E4;
   display: flex;
   align-items: center;
   justify-content: center;

 }
 #footer{
  width: 85%;
  height: 85vh;
  border-radius: 30px;
  background-color: #000;

 }
.hh1{
text-transform: capitalize;
font-family: Applegaramond, sans-serif;
  font-size: 2vmax;
font-weight: 0;
word-spacing: 7px;
letter-spacing: 3px;

  color: white;
 padding-top: 70px;
 padding-left: 70px;
 padding-bottom: 30px;

 }

#footersub{
text-transform: capitalize;
position: relative;
padding: 40px 80px;
margin-top: 30px;


  display: flex;

color: #c1b6aa;
}
#subpart1{
  display: flex;
  flex-direction: column;

  gap: 20px;
}

#subpart1 h3{
  font-size: 2vmax;
  font-weight: 600;
  text-decoration: underline;
}
#subpart2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#subpart2 h3{
  color: #fff;
  font-size: 22px;
  font-weight: 600;

}
#subpart3{
  display: flex;
  flex-direction: column;
  gap: 17px;

}
#subpart3 h3{
font-weight: 600;
  font-size: 1.7vmax;
  color: #fff;
}
#footersub::after{
  position: absolute;
  left:5%;
  bottom:35%;
  width: 90%;
  height: 0.2px;
  content: "";
  background-color: #8e8a88;

}
#footersub2{
  margin-top: -120px;

 
  display: flex;
  align-items: center;
  justify-content: space-around;
width: 100%;


}
#footersub2 img{
  height: 12%;

}
#footersub2 h6{
  font-size: 1.3vmax;

}

